body
{
background-color:#CBC6C4  ;
}
p {
font-size:30px;
}
form
{
display:inline;
padding-right:20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}