body
{
background-color:#CBC6C4  ;
}
#heading
{
font-family: 'Philosopher', sans-serif;
font-size:65px;
}
#index
{
padding-top:10px;
background-color:#A9DFDF;
padding-bottom:30px;
}
#login
{
padding-top:50px;
padding-bottom:50px;
background-color:#C6828D;
}
#signup
{
background-color:#97BCFC;
padding-left:450px;
padding-bottom:30px;
padding-top:5px;
border: 3px solid green;
}
#pagespace
{
padding-bottom:30px;
}
form
{
display:inline;
padding-right:20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #4c1616;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
p{
    font-size:30px;
    font-family: 'Bitter', serif;
    }
    h1
    {
    font-family: 'Philosopher', sans-serif;
    }
    h2
    {
    font-family: 'Neuton', serif;
    }
    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}