{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
<style>
body
{
background-color:#8BA3E7  ;
padding-bottom:45px;
}
#lpage
{
padding-top:50px;
align:center;
padding-bottom:50px;
background-color:white;
}
</style>
</head>
<body>
<br><br><br><br>
 <div class="container" id="lpage">
     <div style="position: absolute; top: 10px; right: 50px; text-align:right;">
    <p><a href="{% url 'tracker:signup' %}"> Signup </a></p>
  </div>
     <!-- Login form --->
<center>
    <h1>Fill your credentials to Login</h1>
<form action="{% url 'login' %}" enctype="multipart/form-data" method="POST">
{% csrf_token %}
    <p>username: {{form.username}}</p>
    <p>password: {{form.password}}</p>
    <button class="button button1" type="submit">Login</button>
</form>
</center>
     <!-- login form --->
 </div>


</body>
</html>