{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}" />


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>Welcome to Expenses tracker</h1>

{% if user.is_authenticated %}
<h2>{{user.username}}</h2> <p>welcome yo !!</p>
<p>click here to logout</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<h2>you are not logedin </h2>
{% endif %}
<form method="POST" action=" " enctype="multipart/form-data" >
<h2>Add Item</h2>
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Add"/>
</form>

<form action="{% url 'tracker:display'%}">
    <input type="submit" value="Display" />
</form>
<hr>

 <form action="{% url 'tracker:sname'%}">
    <input type="submit" value="Sortby name" />
</form>

<form action="{% url 'tracker:sprice'%}">
    <input type="submit" value="Sortby price" />
</form>

<form action="{% url 'tracker:sdate'%}">
    <input type="submit" value="Sortby date/time" />
</form>


</body>
</html>
