<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort by Date</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}" />
<table>
    <th>Sno</th>
    <th>Name</th>
    <th>Price</th>
    <th>Created at</th>
    <th>Image</th>

    {% for i in date %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.price}}</td>
        <td>{{i.created_at}}</td>
        <td><img src="{{i.image.url}}" width="100px" height="100px"/>
        <br>
    <form action="{% url 'tracker:delete' i.id%}">
    <input type="submit" value="Delete Task" />
    <br>
    </form>
    <form action="{% url 'tracker:update' i.id%}">
    <input type="submit" value="Edit" />
    </form></td>

    </tr>

    {% endfor %}
</table>

</body>
</html>